
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
    background-color: #858585;
}


.botao {
    display: flex;
    justify-content: center;
    gap: 20px; 
}
button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
   
}

#movel {
    position: absolute;
}